### General ###
# Result folders
result/
results/
all_results/
.stderr
std.error.log

# Logs
logs/

### SCAL ###
# Dataset files
*.df
*.tfdf
*.concordance
*.fil
*.svd
*.db
indexer
svd/out

# Topic files
*.doc
tr**/

N

### SSARP ###
SSARP/run/train**
SSARP/run/log_ssarp**
SSARP/run/label**
SSARP/run/lac**
SSARP/run/[1]=**
SSARP/run/alac**
SSARP/run/result**
SSARP/run/temp**
SSARP/run/composite**
SSARP/run/final_treina**
SSARP/run/bkppairs**
SSARP/run/bkpseed**
SSARP/run/LLK10.txt
SSARP/run/pairsStore
SSARP/run/seed_out
SSARP/run/instanceFile
*.arff
*.hist
