*.doc
*.svm.fil
*.df
N
result/
all_results/
tr0*
athome*
*.tfdf
*.concordance
*.stderr
seed
*.tr*
std.error.log
results/
tr[0-20]/
*.arff
*.db
*.svd
bfg-1.13.0.jar
final_treina*
label.*
log_ssarp_stoping*
trainset.*

tr18/

indexer
